# The following are NOT baked into the base image
# Git and IDE
.git
.gitignore
*.code-workspace
.vscode/

# Python
__pycache__/
*.pyc
.venv/
.pytest_cache/

# Data and Secrets
.env
*.db
data/

# Docker
Dockerfile
docker-compose.yml