services:
  ingestor:
    build: .
    environment:
      - DB_PATH=/app/data/wikipedia-events.db
    volumes:
      - ./data:/app/data
    command: uv run pipeline.py

  dashboard:
    build: .
    environment:
      - DB_PATH=/app/data/wikipedia-events.db
      - SINCE_OVERRIDE
    ports:
      - "8501:8501"
    volumes:
      - ./data:/app/data
    # --server.address=0.0.0.0 = Listen to requests from all network interfaces including the host-guest bridge interface or cloudflare tunnel container
    # --server-port=8501 = explicitly define the server port for clarity
    # --server.enableCORS false = prevent streamlit blocking traffic from the cloudflare tunnel
    # --server.enableXsrfProtection false = prevent connection error due to cloudflare tunnel stripping headers required for XRSF protection
    command: uv run streamlit run dashboard.py --server.address=0.0.0.0 --server.port=8501 --server.enableCORS false --server.enableXsrfProtection false
    restart: always

  tunnel:
    image: cloudflare/cloudflared:latest
    profiles:
      - production
    restart: unless-stopped
    environment:
      - TUNNEL_TOKEN=${TUNNEL_TOKEN:-} # If variable is missing (i.e in local dev environment), use an empty string
    command: tunnel --no-autoupdate run
