services:
  ingestor:
    build: .
    environment:
      - DB_PATH=/app/data/wikipedia-events.db
    volumes:
      - ./data:/app/data
    command: uv run pipeline.py

  dashboard:
    build: .
    environment:
      - DB_PATH=/app/data/wikipedia-events.db
    ports:
      - "8501:8501"
    volumes:
      - ./data:/app/data
    command: uv run streamlit run dashboard.py --server.address=0.0.0.0 # Listen to requests from all network interfaces including the host-guest bridge interface
    restart: always