name: Deploy to Prod

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Tailscale
        uses: tailscale/github-action@v2
        with:
          authkey: ${{ secrets.TAILSCALE_AUTH_KEY }}

      - name: Deploy via SSH
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USERNAME }}
          key: ${{ secrets.SSH_KEY_PRIV }}
          envs: TUNNEL_TOKEN
          script: |
            cd ~/repos/etl-wikipedia-updates
            git fetch --all
            git reset --hard origin/main
            if [ -z "$TUNNEL_TOKEN" ]; then echo "TOKEN IS EMPTY"; else echo "TOKEN IS SET (Length: ${#TUNNEL_TOKEN})"; fi
            docker compose --profile production up --build -d
            docker image prune -f
        env:
          TUNNEL_TOKEN: ${{ secrets.CLOUDFLARE_TUNNEL_TOKEN }}